
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 30% 92%; /* #F0E4F2 */
    --foreground: 280 60% 5%;
    --card: 0 0% 100%;
    --card-foreground: 280 60% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 280 60% 5%;
    --primary: 290 60% 32%; /* #702082 - wiePurple */
    --primary-foreground: 0 0% 100%;
    --secondary: 199 100% 30%; /* #00629B - ieeeBlue */
    --secondary-foreground: 0 0% 100%;
    --muted: 280 15% 90%;
    --muted-foreground: 280 10% 40%;
    --accent: 199 100% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 280 20% 85%;
    --input: 280 20% 85%;
    --ring: 290 60% 32%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
